.creativeMode {
  display: inline-block;

}

.measure {
  display: inline-block;
  padding-right: 3px;
  border-right: solid gray 1px;
  height: 20px;
  margin-bottom: 5px;

}

.measure div{
  display: inline-block;

}

.chord_select{
  width: 58px;
  display: inline-block;
}

.lyric_box{
  width: 1250px;
}

h1{
  text-align: center;
}

.creativeModeContainer {
  margin: 5px;

}